:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-gray-agenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 93.75%;
  font-family: "Spartan";
}

body {
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size: 50%, 70%;
  background-position: top left, bottom right;
  width: 100vw;
  height: 100vh;
}

.container-main {
  max-width: 1224px;
  width: 80vw;
  height: 80vh;
}

.top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .top-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.top-content__text {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  color: var(--very-dark-magenta);
}

@media only screen and (min-width: 1024px) {
  .top-content__text {
    width: 30%;
    -webkit-transform: scale(1.2) translateX(2.5rem);
            transform: scale(1.2) translateX(2.5rem);
    text-align: left;
  }
}

.top-content__heading {
  margin-bottom: 1rem;
}

.top-content__para {
  font-size: 0.8rem;
  opacity: 0.7;
}

@media only screen and (min-width: 1070px) {
  .top-content__para {
    text-align: left;
  }
}

.top-content__reviews {
  margin: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .top-content__reviews {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
  .top-content__reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-review {
  background-color: var(--light-gray-magenta);
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 10px;
  font-size: 0.9rem;
}

@media only screen and (min-width: 635px) {
  .top-review {
    margin: 1rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 1024px) {
  .top-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-review__1 {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  .top-review__2 {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  .top-review__3 {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
}

.top-review__stars {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .top-review__stars {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.top-review__text {
  font-weight: 700;
  color: var(--very-dark-magenta);
}

@media only screen and (min-width: 855px) {
  .bottom-reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3rem;
  }
}

.bottom-review {
  background-color: var(--very-dark-magenta);
  margin: 1.5rem;
  padding: 2rem;
  color: var(--white);
  border-radius: 10px;
}

@media only screen and (min-width: 1024px) {
  .bottom-review__1 {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  .bottom-review__3 {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

.bottom-review__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.bottom-review__photo {
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1rem;
}

.bottom-review__name {
  font-weight: 700;
  font-size: 0.8rem;
}

.bottom-review__pro {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--soft-pink);
}

.bottom-review__text {
  font-size: 0.85rem;
  line-height: 2;
}

.attribution {
  font-size: 10px;
  text-align: center;
  opacity: 0.9;
}

.attribution a {
  color: var(--soft-pink);
  background-color: var(--very-dark-magenta);
  border-radius: 5px;
  padding: 0.5rem;
}
